body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#p-table {
  margin-top: 50px;
  background-color: #19BB61;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  /* height: 39vw; */
}

.element {
  border: 2px solid white;
  /* background-color: #19BB61; */
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5vmax;
  padding: 30% 0%;
}

.element:hover {
  transform: translate(0px, -1px);
  /* background-color: #22FF84; */
}

.blank {
  border: 2px solid white;
  background-color: white;
  padding: 30% 0%;
}



#element-details {
  position: relative;
  top: 20%;
  padding: 0em 1.5em 1.5em 1.5em;
  height: 50vh;
  overflow-y: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}


.grid-container {
  display: inline-grid;
}

.side-display {
  background-color: #2196F3;
  height: 38.4vw;
  margin-top: 52px;
  margin-right: 20px;
}

.question {
  font: #aaa;
  font-size: 1.3rem;
  padding: 30px;
  margin: 10px;
}

.answer {
  font: #aaa;
  font-size: 1.5rem;
  padding: 30px;
  margin: 10px;
}

#dropDown {
  width: 20%;
}

.ansDisplay {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background: rgb(176, 217, 250)
}
