/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7f6
}

#background {
background-color: #e9e9eb
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
#header{
 background-color: #E8320C;
 font-family: 'Space Mono', monospace;
 font-size: 5vh;
 height: 9vh;
 padding: 1.0rem;
 color: white;
}

/* Forms */
#form-area{
 margin-top: 50px;
 width: 50vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 10px;
}

/* Navbar */
#nav-bar{
 margin-left: 0;
 margin-right: 0;
 padding: 0;
}

.nav-item {
  font-family: 'Space Mono', monospace;
}

/* Table */
#p-table {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #3843FF;
  padding: 10px;
}

.element {
  border: 2px solid #f8f7f6;
  text-align: center;
  background-color: #3843FF;
  color: white;
  font-weight: bold;
  font-size: 1.5vmax;
  padding: 30% 0%;
}

.element:hover {
  transform: translate(0px, -1px);
}

.blank {
  border: 2px solid #f8f7f6;
  background-color: #f8f7f6;
  padding: 30% 0%;
}

/* Modal */
#element-details {
  position: relative;
  top: 20%;
  padding: 0em 1.5em 1.5em 1.5em;
  height: 50vh;
  overflow-y: auto;
}


/* Sidebar */
#side-display {
  background-color: #E8320C;
  width: 20vw;
  font-family: 'Space Mono', monospace;
  margin-top: 22px;
  padding: 2.5vh;
  color: white;
}

#activity-header{
 font-family: 'Space Mono', monospace;
 font-size: 1.5vw;
 font-weight: bold;
 color: white;
 line-height: 1.25em;
}

.question {
  font-family: 'Space Mono', monospace;
  color: white;
}

#answer {
  width: 15vw;
  padding: 1vw;
  color: rgba(0,0,0,.87);
}

.ansDisplay {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background: white;
}

#score-panel {
  font-size: 1.25rem;
  font-weight: bold;
}

#next-button{
  background-color: white;
  font-family: 'Space Mono', monospace;
  color: rgba(0,0,0,.87);
  font-weight: lighter;
}

.ui.table thead th{
  justify-content: center;
  text-align: center;
  background-color: #3843FF;
  color: white;
}

.ui.table td {
  text-align: center;
}