body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#p-table {
  margin-top: 50px;
  /* background-color: #19BB61; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  height: 39vw;
}

#element {
  border: 2px solid white;
  background-color: #19BB61;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5vmax;
  padding: 30% 0%;
}

#blank {
  border: 2px solid white;
  background-color: white;
  padding: 30% 0%;
}

#element-details {
  position: relative;
  top: 20%;
  padding: 0em 1.5em 1.5em 1.5em;
  height: 50vh;
  overflow-y: auto;
}
